# Ex2 - Getting and Knowing your Data

## Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np

## Import the dataset

In [2]:
chipo = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv',low_memory=False,sep='\t')

## See first 10 rows

In [3]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

## What is the number of observations in the dataset?

In [192]:
#solution - 1

len(chipo)

4622

In [193]:
# solution - 2 

chipo.shape[0]

4622

## What is the number of columns in the dataset?

In [194]:
chipo.shape[1]

#len(chipo.columns)

5

## Print the name of all the columns.

In [195]:
list(chipo.columns)

['order_id', 'quantity', 'item_name', 'choice_description', 'item_price']

## How is the dataset indexed?

In [4]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

## Which was the most-ordered item?

In [26]:
chipo.item_name.value_counts().idxmax()

#ch = chipo.groupby('item_name')
#ch = ch.sum()
#ch = ch.sort_values(['quantity'])
#ch.tail(1)

'Chicken Bowl'

## For the most-ordered item, how many items were ordered?

In [37]:
#chipo.item_name.value_counts()[0]

c = chipo.groupby('item_name').sum()
c = c.sort_values(['quantity'])
c.tail(1)

              order_id  quantity
item_name
Chicken Bowl    713926       761

## What was the most ordered item in the choice_description column?

In [198]:
chipo.choice_description.value_counts().idxmax()

'[Diet Coke]'

## How many items were orderd in total?

In [199]:
sum(chipo.quantity)

4972

## Turn the item price into a float

In [266]:
# A - Check the item price type

In [255]:
print(chipo['item_price'].dtypes)

object

In [267]:
# B - Create a lambda function and change the type of item price

In [ ]:
chipo['item_price'] = chipo['item_price'].apply(lambda x: x.replace('$','')).astype(float)

#dollarizer = lambda x: float(x[1:-1])
#chipo.item_price = chipo.item_price.apply(dollarizer)

In [268]:
# C - Check the item price type

In [261]:
chipo['item_price'].dtypes

dtype('float64')

## How much was the revenue for the period in the dataset?

In [65]:
chipo['revenue'] = chipo.apply(lambda x: (x['quantity'] * x['item_price']),axis = 1)

#rev = (chipo['quantity'] * chipo['item_price']).sum()
#rev

In [66]:
total_rev = chipo.revenue.sum()

In [71]:
print(f'${total_rev}')

$39237.02

## How many orders were made in the period?

In [81]:
orders = chipo.order_id.value_counts()

len(orders)

1834

## What is the average revenue amount per order?

In [90]:
# solution - 1

#average_revenue = chipo.revenue.sum()
#average_revenue.mean()

#wrong solution

In [86]:
grouped_order = chipo.groupby(by = ['order_id']).sum()

grouped_order.revenue.mean()

21.394231188658654

In [91]:
# solution - 2

#chipo.revenue.describe()  -> wrong solution

In [92]:
chipo.groupby(by = ['order_id']).sum().mean().revenue

21.394231188658654

## How many different items are sold?

In [354]:
different = chipo.item_name.unique()

len(different)

#uni = chipo.item_name.value_counts()
#len(uni)

50